.LoginScreen {
  display: flex;
  align-items: center;
  justify-content: center;

  &__errors {
    margin-bottom: 1em;
    text-align: right;
    width: 100%;

    &-error {
      color: color(error);
      margin-bottom: 0.3em;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: color(form-input);
    max-width: 365px;
    width: 100%;

    &--register {
      button {
        width: 90px;
      }
    }

    &-field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0.65em;

      label {
        flex: 1;
        text-align: right;
        margin-right: 0.65em;
        font-size: 1.2em;
      }

      input {
        border: 1px solid color(input-border);
        background-color: color(input-background);
        padding: 0.5em 0.7em;
        color: color(white);
        font-size: 1em;

        &:focus {
          outline: none;
        }
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;

      button {
        border: 1px solid #ada99c;
        background: linear-gradient(90deg, color(login-button-gradient-1), color(login-button-gradient-2), color(login-button-gradient-3));
        color: #d6c6a5;
        font-size: 1em;
        padding: 0.2em 0.62em;
        cursor: pointer;

        &:first-child {
          margin-right: 0.65em;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          background: linear-gradient(90deg, #695a41, #8a8370, #695a41);
        }
      }
    }
  }
}
