.Chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  &__messages {
    $height: 250px;
    max-height: 250px;
    min-height: 250px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__message {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 0.5em;

    &-time {
      font-style: italic;
    }

    &-user {
      font-weight: bold;

      &--gray {
        color: color(player-gray);
      }
    }

    &-message {
      flex: 1;

      &--command {
        color: color(message-command);
        font-weight: bold;
      }
    }
  }

  &__input {
    padding-top: 1em;

    input {
      display: block;
      width: 100%;
      font-size: 1rem;
      border: 1px solid color(grey);
      padding: 0.4em 0.7em;
      background-color: color(dark-grey);
      color: color(white);

      &::placeholder {
        opacity: 0.7;
        color: color(white);
      }

      &:focus {
        outline: none;
      }
    }
  }
}
