.GameList {
  display: flex;

  &__games {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;

    &-game {
      $size: 180px;
      display: flex;
      width: $size;
      height: $size;
      transform: rotateX(-60deg) rotateY(0deg) rotateZ(-45deg) scale(0.8);
      position: relative;

      &-arena {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &-top, &-bottom {
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          transition: opacity .2s linear;
          cursor: pointer;

          img {
            transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg) scale(2) translate(4px, -35px);
            pointer-events: none;
          }

          &:hover {
            opacity: 0.7;
          }
        }

        &-top {
          top: 0;
          background-image: url(../img/arena/top.png);
        }

        &-bottom {
          bottom: -50%;
          background-image: url(../img/arena/bottom.png);
        }
      }
    }
  }

  &__floors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &-floor {
      cursor: pointer;
      margin-bottom: 0.3em;
      width: 100%;
      text-align: center;

      &--selected, &:hover {
        background-color: color(tile);
        color: color(white);
      }
    }
  }
}
