$root-size: 16px;

$colors: (
  status-unknown: #ccc,
  status-active: #08d51b,
  status-idle: #cc9c1b,
  tile: #644c19,
  white: #fff,
  grey: #c1c1c1,
  dark-grey: #6d6d6d,
  error: #de3131,
  player-gray: #999,
  message-command: #40adff,
  message-gold: #fff,
  message-gray: #999,
  form-input: #a4a39b,
  input-border: #464646,
  input-background: #303030,
  login-button-gradient-1: #8a8370,
  login-button-gradient-2: #695a41,
  login-button-gradient-3: #87816b,
);
